// Text
$text-color-black-first: #1d1a1a;
$text-color-black-second: #373737;
$text-color-grey-first: #919191;
$text-color-green: #30a74b;
$text-color-red: #ff0000;
$text-color-light-grey: #545454;
// Color
$color-grey-first: #f7f7f9;
$color-grey-second: #eeeeee;
$color-grey-third: #f7f7f7;
// Border
$border-color-grey-first: #e5e5e5;
$border-color-grey-second: #efefef;
