.characterictic {
    padding-top: 30px;
    padding-left: 154px;
    padding-bottom: 103px;
    .characterictic__button {
        height: 47px;
        width: 151px;
        border: 1px solid #e5e5e5;
        font-size: 14px;
        line-height: 18px;
        color: #6d6d6d;
    }
    .characterictic__button:focus {
        border: 1px solid #2ac1c8;
        font-size: 14px;
        line-height: 18px;
        color: #00b8bb;
    }
    .characterictic__button-line {
        height: 1px;
        background: #e5e5e5;
    }
    .characterictic__container {
        display: flex;
        margin-top: 35px;
        .characterictic__rows {
            display: flex;
            flex-direction: column;
            width: 582px;
            .characterictic__row {
                display: flex;
                align-items: center;
                .characterictic__row-point {
                    height: 2px;
                    width: 2px;
                    background: #00cccf;
                }
                .characterictic__row-line {
                    height: 1px;
                    width: 430px;
                    background-color: #ececec;
                    margin-left: 10px;
                    margin-right: 10px;
                }
                .characterictic__row-text {
                    margin-left: 8px;
                    font-size: 14px;
                    line-height: 26px;
                    color: #555555;
                }
            }
        }
    }
    .characterictic__image {
        margin-left: 30px;
    }
}

.characterictic > button {
    margin-right: 10px;
}
