.footer {
    display: flex;
    .footer__payments-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer__copyright {
            margin-right: auto;
            font-size: 12px;
            line-height: 18px;
            color: $text-color-light-grey;
        }
        .footer__payments {
            display: flex;
            margin-top: 37px;
            .payments__item {
                height: 20px;
                margin-right: 5px;
            }
        }
        .footer__secure-payments {
            height: 60px;
            width: 148px;
            margin-top: 25px;
        }
    }
    .footer__additional-navigation {
        display: flex;
        .footer__additional-nav-column {
            margin-left: 35px;
        }
        .nav-links {
            .nav-links__list {
                margin: 0;
                margin-top: 15px;
                padding: 0;
                .nav-links__list-item {
                    list-style-type: none;
                    font-size: 11px;
                    line-height: 20px;
                    color: $text-color-light-grey;
                }
            }
            .nav-links__title {
                margin: 0;
                font-size: 13px;
                line-height: 15px;
                color: $text-color-black-first;
                opacity: 0.7;
            }
        }
    }
    .footer__additional-navigation div + div {
        margin-left: 87px;
    }
}
