.navigation-site-list {
    display: flex;
}

.navigation-site-list-item {
    font-size: 12px;
    line-height: 20px;
    color: #b6b5b5;
}
.navigation-site-list-line {
    margin-left: 9px;
    margin-right: 9px;
    height: 1px;
    width: 4px;
    background: #b6b5b5;
}
