.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1440px;
  margin: auto;
  height: 40px;
  background: #f7f7f9;
}

.header__list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 154px;
}

.header__list {
  margin: auto;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header__list-item {
  margin-right: 26px;
  font-size: 11px;
  font-weight: 400;
  line-height: 20px;
}

.header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 154px;
  background-color: transparent;
}

.header__button {
  font-size: 12px;
  line-height: 20px;
  color: #1d1a1a;
  border: none;
  margin-right: 19px;
  background-color: #f7f7f9;
}

.b1 {
  margin-right: 0;
}

.headline {
  width: 100%;
  height: 115px;
  padding: 29px 154px 24px 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.headline__number {
  margin: 0 0 0 49px;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}

.headline__social-icons {
  margin: 0 0 0 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headline__social-icon {
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(../img/icon-facebook.png);
}

.headline__social-icon:last-child {
  background-image: url(../img/icon-instagram.png);
  margin: 0 0 0 5px;
}

.headline__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 20px;
  height: 41px;
  width: 421px;
  background-color: #eeeeee;
}

.headline__search-area {
  border: none;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #eeeeee;
  outline: none;
}

.headline__search-icon {
  display: block;
  margin: 3px 2px 0 1px;
  height: 39px;
  width: 39px;
  background-image: url(../img/icon-search.png);
  cursor: pointer;
}

.headline__currency {
  margin: 0 0 0 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headline__currency-item {
  font-size: 13px;
  line-height: 20px;
}

.headline__choose-currency {
  margin: 0 0 0 30px;
  padding: 1px 0 1px 8px;
  border: 1px solid #E5E5E5;
  width: 66px;
  height: 30px;
  font-size: 11px;
  line-height: 28px;
  background-color: #f7f7f7;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.navigation {
  width: 100%;
  height: 90px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 0 154px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list__item {
  display: block;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 31px 25px 39px 25px;
  text-decoration: none;
  cursor: pointer;
}

.nav-list__item:nth-last-child(2) {
  margin: 21px 25px 29px 25px;
  max-width: 118px;
}

.nav-list__item-new {
  color: #30a74b;
}

.nav-list__item-discount {
  color: #ff0000;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 154px;
}

.footer .footer__payments-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__payments-info .footer__copyright {
  margin-right: auto;
  font-size: 12px;
  line-height: 18px;
  color: #545454;
}

.footer .footer__payments-info .footer__payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
}

.footer .footer__payments-info .footer__payments .payments__item {
  height: 20px;
  margin-right: 5px;
}

.footer .footer__payments-info .footer__secure-payments {
  height: 60px;
  width: 148px;
  margin-top: 25px;
}

.footer .footer__additional-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__additional-navigation .footer__additional-nav-column {
  margin-left: 35px;
}

.footer .footer__additional-navigation .nav-links .nav-links__list {
  margin: 0;
  margin-top: 15px;
  padding: 0;
}

.footer .footer__additional-navigation .nav-links .nav-links__list .nav-links__list-item {
  list-style-type: none;
  font-size: 11px;
  line-height: 20px;
  color: #545454;
}

.footer .footer__additional-navigation .nav-links .nav-links__title {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  color: #1d1a1a;
  opacity: 0.7;
}

.footer .footer__additional-navigation div + div {
  margin-left: 87px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
  color: #1d1a1a;
  font-size: 18px;
}

.page {
  width: 1440px;
  min-height: 100vh;
  margin: auto;
}
/*# sourceMappingURL=styles.css.map */