.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1440px;
  margin: auto;
  height: 40px;
  background: #f7f7f9;
}

.header .header__list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 154px;
}

.header .header__list-container .header__list {
  margin: auto;
  padding-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.header .header__list-container .header__list .header__list-item {
  margin-right: 26px;
  font-size: 11px;
  line-height: 20px;
  color: #919191;
}

.header .header-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 154px;
  background-color: transparent;
}

.header .header-buttons .header__button {
  font-size: 12px;
  line-height: 20px;
  color: #1d1a1a;
  border: none;
  margin-right: 19px;
  background-color: #f7f7f9;
}

.header .header-buttons .b1 {
  margin-right: 0;
}

.headline {
  width: 100%;
  height: 115px;
  padding: 29px 154px 24px 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.headline__number {
  margin: 0 0 0 49px;
  font-size: 16px;
  line-height: 20px;
  white-space: nowrap;
}

.headline__social-icons {
  margin: 0 0 0 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headline__social-icon {
  display: block;
  width: 28px;
  height: 28px;
  background-image: url(../img/icon-facebook.png);
}

.headline__social-icon:last-child {
  background-image: url(../img/icon-instagram.png);
  margin: 0 0 0 5px;
}

.headline__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 20px;
  height: 41px;
  width: 421px;
  background-color: #eeeeee;
}

.headline__search-area {
  border: none;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #eeeeee;
  outline: none;
}

.headline__search-icon {
  display: block;
  margin: 3px 2px 0 1px;
  height: 39px;
  width: 39px;
  background-image: url(../img/icon-search.png);
  cursor: pointer;
}

.headline__currency {
  margin: 0 0 0 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headline__currency-item {
  font-size: 13px;
  line-height: 20px;
}

.headline__choose-currency {
  margin: 0 0 0 30px;
  padding: 1px 0 1px 8px;
  border: 1px solid #E5E5E5;
  width: 66px;
  height: 30px;
  font-size: 11px;
  line-height: 28px;
  background-color: #f7f7f7;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.navigation {
  width: 100%;
  height: 90px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 0 154px;
}

.navigation .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .nav-list__item {
  display: block;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 31px 25px 39px 25px;
  text-decoration: none;
  cursor: pointer;
}

.navigation .nav-list__item:nth-last-child(2) {
  margin: 21px 25px 29px 25px;
  max-width: 118px;
}

.navigation .nav-list__item-new {
  color: #30a74b;
}

.navigation .nav-list__item-discount {
  color: #ff0000;
}

.navigation-site {
  margin-top: 23px;
  padding-left: 154px;
}

.navigation-site .navigation-site__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-site .navigation-site__list .navigation-site__list-item {
  list-style-type: none;
  text-decoration: underline;
  font-size: 12px;
  line-height: 20px;
  color: #b6b5b5;
}

.navigation-site .navigation-site__list .navigation-site__list-line {
  margin-left: 9px;
  margin-right: 9px;
  height: 1px;
  width: 4px;
  background: #b6b5b5;
}

.navigation-site .page-title {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  color: #383838;
}

.fixed-basket {
  position: fixed;
  top: 180px;
  right: 13.4rem;
}

.fixed-wish {
  position: fixed;
  top: 249px;
  right: 13.4rem;
}

.fixed-compare {
  position: fixed;
  top: 318px;
  right: 13.4rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 154px;
  margin-right: 154px;
  border: 1px solid #e5e5e5;
}

.main__column {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid #e5e5e5;
}

.main-new {
  margin-top: 23px;
  margin-left: 22px;
  margin-right: 26px;
  height: 45px;
  width: 45px;
}

.main-image {
  margin-top: 30px;
  height: 345px;
  width: 345px;
}

.main__column-row-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 7px;
  padding-bottom: 218px;
}

.main__column-row-image {
  margin-right: 14px;
}

.main__column-row-image:hover {
  border: 2px solid #2ac1c8;
}

.main__column-row-image:nth-child(5) {
  margin-right: 0;
}

.main__column-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__column-row-arrow-left {
  margin-left: 11px;
  margin-right: 90px;
  width: 29px;
  height: 29px;
}

.main__column-row-arrow-right {
  margin-left: 90px;
  margin-right: 9px;
  width: 29px;
  height: 29px;
}

.main__column-row-image {
  height: 56px;
  width: 56px;
}

.characterictic {
  padding-top: 30px;
  padding-left: 154px;
  padding-bottom: 103px;
}

.characterictic .characterictic__button {
  height: 47px;
  width: 151px;
  border: 1px solid #e5e5e5;
  font-size: 14px;
  line-height: 18px;
  color: #6d6d6d;
}

.characterictic .characterictic__button:focus {
  border: 1px solid #2ac1c8;
  font-size: 14px;
  line-height: 18px;
  color: #00b8bb;
}

.characterictic .characterictic__button-line {
  height: 1px;
  background: #e5e5e5;
}

.characterictic .characterictic__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}

.characterictic .characterictic__container .characterictic__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 582px;
}

.characterictic .characterictic__container .characterictic__rows .characterictic__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.characterictic .characterictic__container .characterictic__rows .characterictic__row .characterictic__row-point {
  height: 2px;
  width: 2px;
  background: #00cccf;
}

.characterictic .characterictic__container .characterictic__rows .characterictic__row .characterictic__row-line {
  height: 1px;
  width: 430px;
  background-color: #ececec;
  margin-left: 10px;
  margin-right: 10px;
}

.characterictic .characterictic__container .characterictic__rows .characterictic__row .characterictic__row-text {
  margin-left: 8px;
  font-size: 14px;
  line-height: 26px;
  color: #555555;
}

.characterictic .characterictic__image {
  margin-left: 30px;
}

.characterictic > button {
  margin-right: 10px;
}

.recomendation {
  padding-left: 154px;
  padding-bottom: 76px;
  position: relative;
  border-bottom: 1px solid #e7e7e7;
}

.recomendation .recomendation__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.recomendation .recomendation__line {
  margin-top: 7px;
  height: 2px;
  width: 237px;
  background: #2ac1c8;
}

.recomendation .recomendaton__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 115px;
}

.recomendation .recomendation__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.recomendation .recomendation__blocks .recomendation__block {
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.recomendation .recomendation__blocks .recomendation__block .recomendation__block-discount {
  height: 45px;
  width: 45px;
  position: absolute;
  top: 65px;
  left: 167px;
}

.recomendation .recomendation__blocks .recomendation__block .recomendation__block-image {
  height: 170px;
  width: 170px;
  padding-top: 20px;
  padding-left: 20px;
}

.recomendation .recomendation__blocks .recomendation__block .recomendation__block-title {
  height: 40px;
  margin: 0;
  margin-top: 14px;
  font-size: 14px;
  line-height: 20px;
  color: #00b8bb;
}

.recomendation .recomendation__blocks .recomendation__block .recomendation__block-delivery {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recomendation .recomendation__blocks .recomendation__block .recomendation__block-delivery .recomendation__block-check-mark {
  height: 11px;
  width: 12px;
}

.recomendation .recomendation__blocks .recomendation__block .recomendation__block-delivery .recomendation__block-description {
  margin: 0;
  margin-left: 6px;
  font-size: 12px;
  line-height: 15px;
  color: #6d6d6d;
}

.recomendation .recomendation__blocks .recomendation__block .recomendation__block-price {
  margin-top: 9px;
  font-size: 15px;
  line-height: 15px;
  color: #1d1a1a;
  padding-bottom: 35px;
}

.recomendation .recomendation__blocks .recomendation__block-last {
  margin-right: 0;
}

.comunication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 44px 0px 66px 154px;
}

.comunication__image {
  height: 43px;
  width: 62px;
}

.comunication__text {
  margin: 0;
  margin-left: 24px;
  font-size: 13px;
  line-height: 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1d1a1a;
}

.comunication__input {
  margin-left: 84px;
  height: 37px;
  width: 341px;
  background: #eeeeee;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9e9e9e;
  padding-left: 14px;
}

.comunication__input::-webkit-input-placeholder {
  color: #9e9e9e;
}

.comunication__input:-ms-input-placeholder {
  color: #9e9e9e;
}

.comunication__input::-ms-input-placeholder {
  color: #9e9e9e;
}

.comunication__input::placeholder {
  color: #9e9e9e;
}

.comunication__button {
  margin-left: 5px;
  height: 37px;
  width: 105px;
  background: #00cccf;
  border: none;
  border-radius: 2px;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #ffffff;
}

.comunication__number {
  margin-left: 74px;
  font-size: 19px;
  line-height: 28px;
  color: #1d1a1a;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 154px;
}

.footer .footer__payments-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__payments-info .footer__copyright {
  margin-right: auto;
  font-size: 12px;
  line-height: 18px;
  color: #545454;
}

.footer .footer__payments-info .footer__payments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
}

.footer .footer__payments-info .footer__payments .payments__item {
  height: 20px;
  margin-right: 5px;
}

.footer .footer__payments-info .footer__secure-payments {
  height: 60px;
  width: 148px;
  margin-top: 25px;
}

.footer .footer__additional-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__additional-navigation .footer__additional-nav-column {
  margin-left: 35px;
}

.footer .footer__additional-navigation .nav-links .nav-links__list {
  margin: 0;
  margin-top: 15px;
  padding: 0;
}

.footer .footer__additional-navigation .nav-links .nav-links__list .nav-links__list-item {
  list-style-type: none;
  font-size: 11px;
  line-height: 20px;
  color: #545454;
}

.footer .footer__additional-navigation .nav-links .nav-links__title {
  margin: 0;
  font-size: 13px;
  line-height: 15px;
  color: #1d1a1a;
  opacity: 0.7;
}

.footer .footer__additional-navigation div + div {
  margin-left: 87px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Ubuntu", sans-serif;
  color: #1d1a1a;
  font-size: 18px;
}

.page {
  max-width: 1440px;
  min-height: 100vh;
  margin: auto;
}
/*# sourceMappingURL=styles.css.map */